<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="ContentDelivery">
        <hooks>
            <hook type="Sitecore.Form.Core.WffmActionHook, Sitecore.Forms.Core">
                <patch:delete  />
            </hook>
        </hooks>
        <events timingLevel="custom">
            <event name="wffm:action:remote">
                <patch:delete  />
            </event>
        </events>
        <settings>
            <setting name="WFM.IsRemoteActions" value="true" />
            <setting name="WFM.CMInstanceName" value="" />
        </settings>
    </sitecore>
</configuration>