<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or Processing">
        <!-- SETTINGS -->
        <settings>
            <!-- INSERT ID TO ANALYTICS -->
            <setting name="WFM.InsertIdToAnalytics" value="false" />
        </settings>
        <!-- PIPELINES -->
        <pipelines>
            <group groupName="analytics.aggregation">
                <pipelines>
                    <!-- INTERACTIONS -->
                    <interactions>
                        <processor type="Sitecore.WFFM.Analytics.Aggregation.Processors.FormSummary.FormSummaryProcessor, Sitecore.WFFM.Analytics" />
                        <processor type="Sitecore.WFFM.Analytics.Aggregation.Processors.FormEvents.FormEventsProcessor, Sitecore.WFFM.Analytics" />
                        <processor type="Sitecore.WFFM.Analytics.Aggregation.Processors.FormStatisticsByContact.FormStatisticsByContactProcessor, Sitecore.WFFM.Analytics" />
                    </interactions>
                </pipelines>
            </group>
            <!-- INITIALIZE -->
        </pipelines>
        <aggregation>
            <routines>
                <ExecRoutineStatementBuilder>
                    <mappings>
                        <SqlMappingEntity uid="Fact_FormStatisticsByContact" type="Sitecore.Analytics.Aggregation.SqlMappingEntity, Sitecore.Analytics.Sql">
                            <Table>Fact_FormStatisticsByContact</Table>
                            <Routine>Add_FormStatisticsByContact</Routine>
                        </SqlMappingEntity>
                    </mappings>
                </ExecRoutineStatementBuilder>
            </routines>
        </aggregation>
    </sitecore>
</configuration>