<!--

Purpose: This include file configures Web Forms for Marketers. The file is mandatory for Web Forms for Marketers to function correctly.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <!-- PIPELINES -->
        <pipelines>
            <!-- EXPORT TO XML -->
            <exportToXml>
                <processor type="Sitecore.WFFM.Services.Pipelines.ExportToXml.ExportFormDataToXml, Sitecore.WFFM.Services" />
                <processor type="Sitecore.WFFM.Services.Pipelines.SaveContent, Sitecore.WFFM.Services" />
            </exportToXml>
            <!-- EXPORT TO EXCEL -->
            <exportToExcel>
                <processor type="Sitecore.WFFM.Services.Pipelines.ExportToExcel.ExportFormDataToExcel, Sitecore.WFFM.Services" />
                <processor type="Sitecore.WFFM.Services.Pipelines.SaveContent, Sitecore.WFFM.Services" />
            </exportToExcel>
            <exportToAscx>
                <processor type="Sitecore.WFFM.Services.Pipelines.SaveContent, Sitecore.WFFM.Services" />
            </exportToAscx>
        </pipelines>
        <!-- Commands -->
        <commands>
            <command name="forms:export:completed" type="Sitecore.WFFM.Services.Pipelines.ExportCompleted,Sitecore.WFFM.Services" />
        </commands>
        <!-- CONTROLLERS -->
        <controllers>
            <controller type="Sitecore.WFFM.Services.Requests.Controllers.FormReportsController,Sitecore.WFFM.Services">
                <param name="formsDataProvider" ref="wffm/analytics/formsDataProvider"/>
            </controller>
            <controller type="Sitecore.WFFM.Services.Requests.Controllers.ExportFormDataController,Sitecore.WFFM.Services">
                <param name="formsDataProvider" ref="wffm/analytics/formsDataProvider"/>
            </controller>
        </controllers>
    </sitecore>
</configuration>
