<?xml version="1.0" encoding="utf-8"?>
<!--It is config file for describe dependencies in WFFM module
    Don't modify this file if you don't want to change a behavour of WFFM components. 
    In case when you need to have your own dependencies you can create new *.config file where custom dependencies will be
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <wffm>
      <wffmActionExecutor type="Sitecore.Forms.Core.Dependencies.DefaultImplActionExecutor, Sitecore.Forms.Core" singleInstance="false">
        <param name="itemRepository" ref="/sitecore/wffm/itemRepository" />
        <param name="requirementsChecker" ref="/sitecore/wffm/requirementsChecker" />
        <param name="logger" ref="/sitecore/wffm/logger" />
        <param name="resourceManager" ref="/sitecore/wffm/resourceManager" />
        <param name="analyticsTracker" ref="/sitecore/wffm/analytics/analyticsTracker" />
        <param name="dataProvider" ref="/sitecore/wffm/analytics/formsDataProvider" />
        <param name="fieldProvider" ref="/sitecore/wffm/fieldProvider" />
        <param name="formContext" ref="/sitecore/wffm/formContext" />
      </wffmActionExecutor>
      <formDataHandler type="Sitecore.Forms.Core.Handlers.FormDataHandler, Sitecore.Forms.Core" singleInstance="false">
        <param name="actionExecutor" ref="/sitecore/wffm/wffmActionExecutor" />
        <param name="logger" ref="/sitecore/wffm/logger" />
        <param name="sitecoreContextWrapper" ref="/sitecore/wffm/sitecoreContextWrapper" />
        <param name="settings" ref="/sitecore/wffm/settings" />
        <param name="analyticsTracker" ref="/sitecore/wffm/analytics/analyticsTracker" />
        <param name="itemRepository" ref="/sitecore/wffm/itemRepository" />
        <param name="baseCorePipelineManager" type="Sitecore.Abstractions.BaseCorePipelineManager, Sitecore.Kernel" resolve="true" />
        <param name="webUtil" ref="/sitecore/wffm/webUtil" />
        <param name="formContext" ref="/sitecore/wffm/formContext" />
      </formDataHandler>
      <logger              type="Sitecore.Forms.Core.Dependencies.DefaultImplLogger, Sitecore.Forms.Core"/>
      <webUtil                type="Sitecore.Forms.Core.Dependencies.DefaultImplWebUtil, Sitecore.Forms.Core"/>
      <sitecoreContextWrapper        type="Sitecore.Forms.Core.Wrappers.SitecoreContextWrapper, Sitecore.Forms.Core"/>
      <settings               type="Sitecore.Forms.Core.Dependencies.DefaultImplSettings, Sitecore.Forms.Core">
        <param name="sitecoreContextWrapper" ref="/sitecore/wffm/sitecoreContextWrapper" />
      </settings>
      <corePipelineWrapper    type="Sitecore.Abstractions.CorePipelineWrapper, Sitecore.Abstractions"/>
      <!--eventManagerWrapper    type="Sitecore.Forms.Core.Dependencies.DefaultImplWffmEventManager, Sitecore.Forms.Core"/-->
      <formContext            type="Sitecore.Forms.Core.Dependencies.DefaulImplFormContext, Sitecore.Forms.Core">
        <param name="sitecoreContextWrapper" ref="/sitecore/wffm/sitecoreContextWrapper" />
      </formContext>
      <fieldProvider          type="Sitecore.Forms.Core.Dependencies.DefaultImplFieldProvider, Sitecore.Forms.Core">
        <param name="itemRepository" ref="/sitecore/wffm/itemRepository" />
        <param name="settings" ref="/sitecore/wffm/settings" />
      </fieldProvider>
      <itemRepository         type="Sitecore.Forms.Core.Dependencies.DefaultImplItemRepository, Sitecore.Forms.Core"/>
      <convertionUtil         type="Sitecore.Forms.Core.Dependencies.DefaultImplConvertionUtil, Sitecore.Forms.Core"/>
      <parametersUtil         type="Sitecore.Forms.Core.Dependencies.DefaultImplParametersUtil, Sitecore.Forms.Core"/>
      <resourceManager        type="Sitecore.WFFM.Core.Dependencies.DefaultImplResourceManager, Sitecore.WFFM">
        <param name="resourceName">Sitecore.WFFM.Core.Properties.Resources</param>
        <param name="translationProvider" ref="/sitecore/wffm/translationProvider" />
      </resourceManager>
      <formRegistryUtil       type="Sitecore.Forms.Core.Dependencies.DefaultImplFormRegistryUtil, Sitecore.Forms.Core"/>
      <reflectionProvider     type="Sitecore.Forms.Core.Dependencies.DefaultImplReflectionProvider, Sitecore.Forms.Core"/>
      <translationProvider    type="Sitecore.Forms.Core.Dependencies.DefaultImplTranslationProvider, Sitecore.Forms.Core"/>
      <requirementsChecker    type="Sitecore.Forms.Core.Dependencies.DefaultImplRequirementsChecker, Sitecore.Forms.Core">
        <param name="settings" ref="/sitecore/wffm/settings" />
        <param name="logger" ref="/sitecore/wffm/logger" />
      </requirementsChecker>
      <factoryObjectsProvider type="Sitecore.Forms.Core.Dependencies.DefaultImplFactoryObjectsProvider, Sitecore.Forms.Core">
        <param name="reflectionProvider" ref="/sitecore/wffm/reflectionProvider" />
        <param name="logger" ref="/sitecore/wffm/logger" />
      </factoryObjectsProvider>
      <authentificationManager type="Sitecore.Forms.Core.Dependencies.DefaultImplAuthentificationManager, Sitecore.Forms.Core"/>
      <mailSender type="Sitecore.Forms.Core.Dependencies.DefaultImplMailSender, Sitecore.Forms.Core">
        <param name="itemRepository" ref="/sitecore/wffm/itemRepository" />
      </mailSender>

      <contextProvider type="Sitecore.Forms.Core.Dependencies.DefaultImplContextProvider, Sitecore.Forms.Core"/>

      <securityConfigurator type="Sitecore.Form.Core.Configuration.SecurityConfigurator, Sitecore.Forms.Core">
        <param name="rolesManager" ref="/sitecore/wffm/wrappers/rolesInRolesManager" />
      </securityConfigurator>

      <translationImporter type="Sitecore.Form.Core.Configuration.TranslationImporter, Sitecore.Forms.Core" />

      <data>
        <databaseRepository     type="Sitecore.Forms.Core.Data.DatabaseRepository, Sitecore.Forms.Core"/>
        <perRequestStorage      type="Sitecore.Form.Core.Utility.HttpContextPerRequestStorage, Sitecore.Forms.Core"/>
      </data>

      <!--Save actions constructor configuration-->
      <actions>
        <updateContactDetails type="Sitecore.WFFM.Actions.SaveActions.UpdateContactDetails, Sitecore.WFFM.Actions">
          <param name="analyticsTracker" ref="/sitecore/wffm/analytics/analyticsTracker" />
          <param name="authentificationManager" ref="/sitecore/wffm/authentificationManager" />
          <param name="logger" ref="/sitecore/wffm/logger" />
          <param name="facetFactory" ref="/sitecore/wffm/analytics/facetFactory" />
        </updateContactDetails>

        <addContactToContactList type="Sitecore.WFFM.Actions.SaveActions.AddContactToContactList, Sitecore.WFFM.Actions">
          <param name="analyticsTracker" ref="/sitecore/wffm/analytics/analyticsTracker" />
          <param name="contactRepository" ref="/sitecore/wffm/analytics/contactRepository" />
        </addContactToContactList>

        <sendMessage type="Sitecore.WFFM.Actions.SaveActions.SendMessage, Sitecore.WFFM.Actions">
          <param name="settings" ref="/sitecore/wffm/settings" />
          <param name="mailSender" ref="/sitecore/wffm/mailSender" />
        </sendMessage>

        <tellAFriend type="Sitecore.WFFM.Actions.SaveActions.TellAFriend, Sitecore.WFFM.Actions">
          <param name="settings" ref="/sitecore/wffm/settings" />
          <param name="mailSender" ref="/sitecore/wffm/mailSender" />
        </tellAFriend>

        <goalAction type="Sitecore.WFFM.Actions.SystemActions.GoalAction, Sitecore.WFFM.Actions">
          <param name="itemRepository" ref="/sitecore/wffm/itemRepository" />
          <param name="fieldProvider" ref="/sitecore/wffm/fieldProvider" />
          <param name="analyticsTracker" ref="/sitecore/wffm/analytics/analyticsTracker" />
          <param name="settings" ref="/sitecore/wffm/settings" />
          <param name="contextProvider" ref="/sitecore/wffm/contextProvider" />
          <param name="logger" ref="/sitecore/wffm/logger" />
        </goalAction>

        <tagAction type="Sitecore.WFFM.Actions.SystemActions.TagAction, Sitecore.WFFM.Actions">
          <param name="itemRepository" ref="/sitecore/wffm/itemRepository" />
          <param name="fieldProvider" ref="/sitecore/wffm/fieldProvider" />
          <param name="analyticsTracker" ref="/sitecore/wffm/analytics/analyticsTracker" />
          <param name="settings" ref="/sitecore/wffm/settings" />
        </tagAction>
      </actions>

      <analytics>
        <!--Choose between different form's data providers:
        1) sqlFormsDataProvider - only form's data from wffm sql db is involved in reporting and export processes
        2) analyticsFormsDataProvider - only form's data from analytics sql and mongo db is involved in reporting (sql) and export (mongo) processes
        in this case you should be sure that xDb and tracker is on
        3) combinedFormsDataProvider - form's data from wffm sql db is used for export and data from analytics sql is used for reporting-->
        <formsDataProvider ref="/sitecore/wffm/analytics/analyticsFormsDataProvider"/>

        <sqlFormsDataProvider type="Sitecore.WFFM.Analytics.Providers.SqlFormsDataProvider, Sitecore.WFFM.Analytics">
          <param name="connectionStringName">wffm</param>
          <param name="settings" ref="/sitecore/wffm/settings" />
          <param name="connectionProvider" ref="/sitecore/wffm/analytics/connectionProvider" />
        </sqlFormsDataProvider>

        <analyticsFormsDataProvider type="Sitecore.WFFM.Analytics.Providers.AnalyticsFormsDataProvider, Sitecore.WFFM.Analytics">
          <param name="reportDataProviderWrapper" ref="/sitecore/wffm/analytics/reportDataProviderWrapper" />
          <param name="logger" ref="/sitecore/wffm/logger" />
          <param name="settings" ref="/sitecore/wffm/settings" />
        </analyticsFormsDataProvider>

        <combinedFormsDataProvider type="Sitecore.WFFM.Analytics.Providers.CombinedFormsDataProvider, Sitecore.WFFM.Analytics">
          <param name="mainDataProvider" ref="/sitecore/wffm/analytics/analyticsFormsDataProvider" />
          <param name="alternativeDataProvider" ref="/sitecore/wffm/analytics/sqlFormsDataProvider" />
        </combinedFormsDataProvider>

        <facetFactory type="Sitecore.WFFM.Analytics.Dependencies.DefaultImplFacetFactory, Sitecore.WFFM.Analytics"/>
        <reportDataProviderWrapper type="Sitecore.WFFM.Analytics.Dependencies.ReportDataProviderWrapper, Sitecore.WFFM.Analytics">
          <param name="factoryObjectsProvider" ref="/sitecore/wffm/factoryObjectsProvider" />
        </reportDataProviderWrapper>

        <analyticsTracker       type="Sitecore.WFFM.Analytics.Dependencies.DefaultImplAnalyticsTracker, Sitecore.WFFM.Analytics">
          <param name="itemRepository" ref="/sitecore/wffm/itemRepository" />
          <param name="goalsDefinitionManager" type="Sitecore.Marketing.Definitions.IDefinitionManager`1[[Sitecore.Marketing.Definitions.Goals.IGoalDefinition, Sitecore.Marketing]], Sitecore.Marketing" resolve="true"/>
          <param name="campaignsDefinitionManager" type="Sitecore.Marketing.Definitions.IDefinitionManager`1[[Sitecore.Marketing.Definitions.Campaigns.ICampaignActivityDefinition, Sitecore.Marketing]], Sitecore.Marketing" resolve="true"/>
        </analyticsTracker>

        <connectionProvider     type="Sitecore.WFFM.Analytics.Providers.SqlConnectionProvider, Sitecore.WFFM.Analytics"/>

        <contactRepository type="Sitecore.WFFM.Analytics.Dependencies.ContactRepositoryWrapper, Sitecore.WFFM.Analytics">
          <param name="ContactRepository" ref="/sitecore/contactRepository" />
        </contactRepository>

        <settings type="Sitecore.Form.Core.Configuration.AnalyticsSettings, Sitecore.Forms.Core">
          <param name="requirementsChecker" ref="/sitecore/wffm/requirementsChecker" />
        </settings>
      </analytics>

      <wrappers>
        <clientResponseWrapper type="Sitecore.WFFM.Abstractions.Wrappers.UI.ClientResponseWrapper, Sitecore.WFFM.Abstractions" />
        <rolesInRolesManager type="Sitecore.Forms.Core.Wrappers.RolesInRolesManagerWrapper, Sitecore.Forms.Core" />
        <sheerResponseWrapper type="Sitecore.WFFM.Abstractions.Wrappers.UI.SheerResponseWrapper, Sitecore.WFFM.Abstractions" />
        <jobContext type="Sitecore.Forms.Core.Wrappers.JobContextWrapper, Sitecore.Forms.Core" />
        <clientPageWrapper type="Sitecore.WFFM.Abstractions.Wrappers.UI.ClientPageWrapper, Sitecore.WFFM.Abstractions">
          <param name="clientResponse" ref="/sitecore/wffm/wrappers/clientResponseWrapper" />
        </clientPageWrapper>
      </wrappers>

      <ui>
        <wizards>
          <customizeAnalyticsWizardPagesProvider type="Sitecore.Forms.Shell.UI.CustomizeAnalyticsWizardPagesProvider, Sitecore.Forms.Core">
            <param name="sheerResponse" ref="/sitecore/wffm/wrappers/sheerResponseWrapper" />
            <param name="analyticsSettings" ref="/sitecore/wffm/analytics/settings" />
            <param name="trackingFactory" ref="/sitecore/wffm/tracking/factory" />
          </customizeAnalyticsWizardPagesProvider>
        </wizards>
      </ui>

      <tracking>
        <factory type="Sitecore.Forms.Core.Dependencies.TrackingFactory, Sitecore.Forms.Core">
          <param name="databaseRepository" ref="/sitecore/wffm/data/databaseRepository" />
        </factory>
      </tracking>
    </wffm>
  </sitecore>
</configuration>