<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <settings>
            <!-- Recaptcha private/secret key -->
            <setting name="WFM.RecaptchaSecretKey" value="6Lcxlf4SAAAAANgddJzrPONX-TQzSjaAejpyuka_" />

            <!-- Recaptcha public/site key -->
            <setting name="WFM.RecaptchaSiteKey" value="6Lcxlf4SAAAAAOr52tOrgmcedW7OZhWw2EiZFH7D" />

            <!--Set 'false' if you want disable WFFM bootstrap css loading-->
            <setting name="WFM.EnableBootstrapCssRendering" value="true" />

            <!--The setting is desired to prevent multiple submiths of the same form withhin the specified time interval (in seconds)
      The value "0" disables the multiple submits peventing mechanism -->
            <setting name="WFM.LimitMultipleSubmits.IntervalInSeconds" value="30" />
            <!-- Set 'false' if you want to use default (en) language for translation of the Recaptcha field -->
            <setting name="WFM.RecaptchaUseContextLanguage" value="true" />
        </settings>

        <pipelines>
            <initialize>
                <processor type="Sitecore.Forms.Mvc.Pipelines.Initialize.AddCustomMetadataProvider, Sitecore.Forms.Mvc">
                    <param name="perRequestStorage" ref="/sitecore/wffm/data/perRequestStorage" />
                    <param type="Sitecore.Abstractions.BaseCorePipelineManager, Sitecore.Kernel" resolve="true"/>
                </processor>
                <processor type="Sitecore.Forms.Mvc.Pipelines.Initialize.InitializeFormFilters, Sitecore.Forms.Mvc" />
                <processor type="Sitecore.Forms.Mvc.Pipelines.Initialize.InitializeRoutes, Sitecore.Forms.Mvc" />
            </initialize>

            <wffm.submit>
                <processor type="Sitecore.Forms.Mvc.Pipelines.Submit.RegisterFormSubmitEvent,Sitecore.Forms.Mvc" />
            </wffm.submit>

            <wffm.executeSaveActions>
                <processor type="Sitecore.Forms.Mvc.Pipelines.ExecuteSaveActions.SaveDataAndExecuteSaveActions,Sitecore.Forms.Mvc" >
                    <param name="formDataHandler" ref="/sitecore/wffm/formDataHandler" />
                    <param name="analyticsTracker" ref="/sitecore/wffm/analytics/analyticsTracker" />
                </processor>
            </wffm.executeSaveActions>

            <wffm.validate>
            </wffm.validate>

            <wffm.success>
            </wffm.success>

            <wffm.error>
                <processor type="Sitecore.Forms.Mvc.Pipelines.Error.RegisterFormFailures,Sitecore.Forms.Mvc" />
                <processor type="Sitecore.Forms.Mvc.Pipelines.Error.FormatErrorMessage,Sitecore.Forms.Mvc" />
            </wffm.error>

            <wffm.createMetadata>
                <processor type="Sitecore.Forms.Mvc.Pipelines.CreateMetadata.AddWffmMetadata,Sitecore.Forms.Mvc"/>
            </wffm.createMetadata>
        </pipelines>

        <wffmRepository type="Sitecore.Forms.Mvc.Services.FormRepository,Sitecore.Forms.Mvc" singleInstance="false">
            <param name="renderingContext" ref="wffmRenderingContext" />
        </wffmRepository>

        <wffmRenderingContext type="Sitecore.Forms.Mvc.Data.Wrappers.WrappedRenderingContext,Sitecore.Forms.Mvc" singleInstance="true" />

        <wffmProcessor type="Sitecore.Forms.Mvc.Services.FormProcessor,Sitecore.Forms.Mvc" singleInstance="true" />

        <wffmAutoMapper type="Sitecore.Forms.Mvc.Services.AutoMapper, Sitecore.Forms.Mvc" singleInstance="true" />

    </sitecore>
</configuration>